@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

.btn {
  @apply px-6 py-2 font-bold text-sm uppercase tracking-wider rounded transition-colors;
}

.btn-enabled {
  @apply bg-white hover:bg-gray-100 shadow;
}

.btn-disabled {
  @apply bg-gray-300 text-gray-500 cursor-not-allowed;
}
